<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>Kurver</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="Kurver, Game, Curve, Multiplayer">
        <link rel="icon" type="image/png" href="images/favicon.png" />
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/kurver.css">
    </head>
    <body ng-app="curvytronApp" ng-controller="CurvytronController">
        <!--[if lt IE 8]>
            <div id="browsehappy">
                <div id="browsehappy-inner">
                    Vous utilisez un navigateur internet trop vieux.<br/>Merci de le <a href="http://browsehappy.com/">mettre à jour</a> afin d'améliorer votre navigation.
                </div>
            </div>
        <![endif]-->
        <header>
            <a href="/#/" class="logo animated">
                <span class="brand">kurver</span>
            </a>
        </header>

        <div ng-controller="ProfileController" ng-if="profile">
            <ng-include src="'js/views/profile/link.html'"></ng-include>
            <div id="profile" class="panel" ng-include="'js/views/profile/profile.html'" onload="onLoaded()"></div>
        </div>

        <div id="connecting" ng-if="status === 'connecting'" class="container text-center">
            <h3>Connecting...</h3>
        </div>

        <div id="main" ng-if="status === 'online'" ng-view></div>

        <div id="error" ng-if="status === 'disconnected'" class="container text-center">
            <section class="centered">
                <h3>Connection lost</h3>
                <p>Unable to reach the server.</p>
                <button ng-click="reload()" class="btn btn-default">Try again</button>
            </section>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 no-padding-bottom text-center">
                        <span style="font-size:12px;opacity:.35">Kurver — powered by Curvytron</span>
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/dependencies.js"></script>
        <script src="js/curvytron.js"></script>
    </body>
</html>
